.description-txt{

  color: rgb(78, 78, 78);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.article-heading{

  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: grey;
}

.toolBar-heading{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

.list-body{
  background-color: whitesmoke;
}


.list-card{
  background-color: white;
}

.url{

  text-align: center;
}

